<!DOCTYPE html>
<html>
  <head>
    <title>jaxxon.dev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <base target="_blank">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-primary text-secondary">
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
    <%= render 'shared/footer'  %>
  </body>
</html>
